@media (min-width: 71.875em) {
  #header .mobile-menu-btn {
    display: none; } }

@media (max-width: 71.875em) {
  #header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2E9E1;
    z-index: 9; }
  #header .navbar ul {
    display: flex;
    flex-direction: column; }
  #header .navbar ul li {
    display: block;
    align-self: center;
    margin: 8px 0; } }

@media (max-width: 68em) {
  .contact-info-form {
    flex-direction: column !important; }
  .contact-info-form .contact-container1 {
    align-self: center;
    margin-top: 24px; }
  .contact-info-form .contact-container1 a {
    font-size: 15px; }
  .contact-container {
    flex-direction: column !important; }
  .contact-container img {
    max-width: fit-content;
    align-self: center; } }

@media (min-width: 64.25em) {
  #contact-form {
    min-width: auto; } }

@media (max-width: 59.375em) {
  #footer {
    flex-direction: column; }
  #footer .footer__left h3 {
    text-align: center; }
  #footer .footer__left p {
    text-align: justify; }
  #footer .footer__socials h3 {
    text-align: center; }
  #footer .footer__socials .icon {
    justify-content: center; } }

@media (max-width: 37.5em) {
  #products {
    flex-direction: column; }
  #products .products-card {
    margin-top: 32px; }
  #video-container video {
    width: 350px; } }

@media (max-width: 26.875em) {
  #leaderboard {
    display: none; }
  #message {
    left: calc(100% - 350px); }
  .contact-container img {
    min-width: 300px;
    height: auto; }
  .contact-info-form .contact-container1 .contact-container1__left i,
  .contact-info-form .contact-container1 .contact-container1__left p {
    font-size: 12px; } }
