html {
    font-size: 16px;
    margin: 0;
    padding: o;
}
body {
    font-family: 'Yeseva One', sans-serif;
    
}

:root {
    --sub-font: "Montserrat", sans-serif;
}

#contact {
    margin-bottom: 40px;
}

#contact .contact-info-form {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact .contact-info-form .contact-container1 {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    min-width: 340px;
}

#contact .contact-info-form .contact-container1 .contact-container1__left {
    display: flex;
    padding: 0 16px;
}

#contact .contact-info-form .contact-container1 .contact-container1__left i {
    padding: 16px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #8e724b;
    color: white;
    font-weight: 700;
    font-size: 24px;
    max-height: fit-content;
}

#contact .contact-info-form .contact-container1 .contact-container1__left p {
    font-weight: 800;
    align-self: center;
}

#contact .contact-info-form .contact-container1 .separator {
    border: 1px solid #029E9D;
    max-height: 80%;
}

#contact .contact-info-form .contact-container1 a {
    text-decoration: none;
    color: #8e724b;
    align-self: center;
    padding: 12px 16px;
    text-align: right;
}

#contact .contact-info-form .contact-container1 p {
    color: #8e724b;
}

#contact .contact-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

#contact .contact-container img {
    min-width: 400px;
    height: auto;
}

#contact-form {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 40%;
    border-radius: 10px;
    min-width: 85%;
}

#form {
    display: flex;
    flex-direction: column;
}

#form .get-info {
    margin-top: 24px;
    padding: 12px 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    align-self: center;
    font-size: 1rem;
    width: 90%;
}

#form .get-info::placeholder,
#form .textarea-field::placeholder {
    color: #8e724b;
}

#form .textarea-field {
    padding: 16px 8px 24px 8px;
    font-family: var(--sub-font);
}

#form .select-tab {
    width: 93%;
    padding: 12px 8px;
    font-family: var(--sub-font);
    color: #8e724b;
}

#form .get-info:focus, 
#form .textarea-field:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

#contact-form .submit-button {
    align-self: center;
    margin: 16px 0;
    padding: 12px 16px;
    border-radius: 10px;
    border: 2px solid #8e724b;
    background-color: #8e724b;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

#contact-form .submit-button:hover {
    background-color: #F5F5F5;
    border: 2px solid #8e724b;
    color: #8e724b;
    cursor: pointer;
}
