<!-- Navbar -->
<nav id="navbar">
    <a class="first" href="/">Trang chủ</a>
    <div class="middle-group">
        <a href="/nen-yen">Nến thơm Yên</a>
        <a href="/nen-nhien">Nến thơm Nhiên</a>
        <a href="/nen-cham">Nến thơm Chạm</a>
    </div>
    <a class="mark-current-page" href="#">Blog</a>
</nav>
<!--Banner-->
<div id="leaderboard">
    <div class="leaderboard__content">
        <img src="./assets/image/nền.png" alt="Nến thơm Thiền" class="nen-image" width="100%">
    </div>
</div>
<main>
    <div class="news-post">
        <span class="New-post" style="color: brown; font-size: 60px;">Bài Viết Gần Đây</span>
        <!-- Bài đăng 1 -->
        <div class="news-post">
            <h2 style="color: rgb(121, 12, 12);">1. BST Yên- Hương thơm thiên nhiên</h2>
            <img src="./assets/image/BST_Yen/Thiền.png" alt="Nến thơm Thiền" class="post-image" width="300">
            <p>Hơi thở thanh mát và đầy năng lượng của thiên nhiên mở ra không gia tươi
                mới....</p><a href="Bài đăng/BST.docx" class="button">Đọc thêm</a>
            <div class="actions">
                <button class="like-btn">Like</button>
            </div>
            <div class="comments">
                <h3>Bình luận</h3>
                <textarea placeholder="Viết bình luận..."></textarea>
                <button class="comment-btn">Bình luận</button>
            </div>
        </div>

        <!-- Bài đăng 2 -->
        <article class="news-post">
            <h2 style="color: rgb(121, 12, 12);">2. Bật mí 5 Tips bảo quản nến thơm đúng cách</a> </h2>
            <img src="./assets/image/Nến thơm BQ.jpg" alt="Nến thơm tự nhiên" class="post-image" width="200">
            <p>Cách bảo quản nến thơm nghe có vẻ đơn giản, nhưng không phải ai cũng biết...</p> <a
                href="Bài đăng/Bật mí 5 Tips bảo quản nến thơm đúng cách.docx" class="button">Đọc thêm</a>
            <div class="actions">
                <button class="like-btn">Like</button>
            </div>
            <div class="comments">
                <h3>Bình luận</h3>
                <textarea placeholder="Viết bình luận..."></textarea>
                <button class="comment-btn">Bình luận</button>
            </div>
        </article>

        <!-- Bài đăng 3 -->
        <article class="news-post">
            <h2 style="color: rgb(121, 12, 12)">3. Các mẫu nến thơm khiến phái đẹp “gục ngã”</a></h2>
            <img src="./assets/image/Nến thơm 2.webp" alt="Các loại nến thơm" class="post-image" width="200">
            <p>Mùi hương là “phụ kiện” không thể thiếu của phái đẹp trong thế giới hiện đại...</p><a
                href="Bài đăng/Các mẫu nến thơm khiến phái đẹp.docx" class="button">Đọc thêm</a>
            <div class="actions">
                <button class="like-btn">Like</button>
            </div>
            <div class="comments">
                <h3>Bình luận</h3>
                <textarea placeholder="Viết bình luận..."></textarea>
                <button class="comment-btn">Bình luận</button>
            </div>
        </article>

        <!-- Bài đăng 4 -->
        <article class="news-post">
            <h2 style="color: rgb(121, 12, 12)">4. Gợi ý một số quà tặng mùa Valentine tình yêu</a></h2>
            <img src="./assets/image/image1.jpg" alt="Quà tặng nến thơm" class="post-image" width="200">
            <p>Sắp đến Valentine mà bạn không biết tặng gì cho người ấy? Bạn đang tìm kiếm một món quà ý
                nghĩa và độc đáo? ..</p><a href="Bài đăng/Quà tặng Valinetine.docx" class="button">Đọc
                thêm</a>
            <div class="actions">
                <button class="like-btn">Like</button>
            </div>
            <div class="comments">
                <h3>Bình luận</h3>
                <textarea placeholder="Viết bình luận..."></textarea>
                <button class="comment-btn">Bình luận</button>
            </div>
        </article>
    </div>
    </div>
</main>