<!-- Message: Success regist products -->
<div id="message"></div>

<!-- Form đăng kí -->
<div class="login-signup-container">
    <form id="signup-form" method="POST" action="/user-signup" onsubmit="return checkBeforeSignUp()" class="formDangKyDangNhap">
        <h1>Đăng kí</h1>
        <div class="input-label">
            <label for="username">Tên người dùng</label> <br>
            <input id="username" class="input-field" name="username" type="text"
                placeholder="Nhập tên của bạn..."></input><br>
        </div>

        <div class="input-label">
            <label for="email">Email</label> <br>
            <input id="email" class="input-field" name="email" type="email" placeholder="Nhập email..."></input><br>
        </div>

        <div class="input-label">
            <label for="password">Mật khẩu</label> <br>
            <input id="password" class="input-field" name="password" type="password"
                placeholder="Nhập mật khẩu..."></input><br>
        </div>

        <div class="input-label">
            <label for="confirm-password">Xác nhận mật khẩu</label> <br>
            <input id="confirm-password" class="input-field" name="confirm-password" type="password"
                placeholder="Xác nhận mật khẩu vừa nhập..."></input><br>
        </div>

        <div class="submit-container">
            <input id="submit-button" type="submit" value="Đăng kí">
        </div>

        <div class="orther-sign-up">
            <p class="text-decor">Hoặc đăng kí qua</p>

            <div class="social-icon">
                <a style="background-color: #0866ff;" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a style="background-color: #2EA8EF;" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a style="background-color: #EE4134;" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="web-sign-up">
            <a href="/dang-nhap">Đăng nhập</a>
        </div>
    </form>
</div>