<style>
    .popup {
        display: none;
        /* Hidden by default */
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
        /* Black background with opacity */
    }

    .popup .popup-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        position: relative;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        animation: fadeIn 1s;
        border-radius: 15px;
    }

    .popup-content a img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<!-- Message: Success regist products -->
<div id="message"></div>

<div class="main-container">
    <button type="button" id="show-sidebar"><i class="fa fa-phone" aria-hidden="true" onclick="openSidebar()"></i></button>
    <div id="sidebar" class="main-container__sidebar">
        <span class="close-btn" onclick="closeSidebar()">&times;</span>

        <h2 class="text-center" style="color: #8e724b">Thông tin liên hệ</h2>
        <form id="sidebar-contact-form" action="/lien-he" method="post">
            <div class="form-group user">
                <input type="text" id="sidebar-name" name="name" placeholder="Tên khách hàng" required>
                <select name="gender" id="sidebar-gender" required>
                    <option value="">Giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>
            </div>
            <input type="tel" id="sidebar-phone" name="phone" placeholder="Số điện thoại" required>`
            <input type="email" id="sidebar-email" name="email" placeholder="Email" required>`
            <input id="sidebar-submit" type="submit" value="Gửi">
        </form>
        <div class="image-container">
            <img src="/assets/image/POP-UP.png" alt="An awesome image">
        </div>
    </div>
    <div class="main-container__content">
        <!-- Content -->
        <section id="banner">
            <img src="/assets/image/BannerHOME.png" alt="Siêu tiệc giảm giá" width="100%" height="auto">
        </section>

        <h1 class="text-center text-uppercase yeseva-one"
            style="color: #8e724b; margin-top: 60px; margin-bottom: -32px">Sản
            phẩm bán chạy</h1>

        <section id="products">
            <div id="an-yen" class="products-card">
                <div class="products-card__image">
                    <a href="/product/infoAnYen">
                        <img src="/assets/image/BST_Yen/An-Yên.png" alt="An Yên">
                    </a>
                </div>
                <div class="products-card__buy">
                    <h2>Giá: 199.000đ</h2>
                    <button class="buy-btn" type="button"><i class="ti-shopping-cart"></i></button>
                </div>
            </div>
            <div id="cam-thao" class="products-card">
                <div class="products-card__image">
                    <a href="/product/infoCamThao">
                        <img src="/assets/image/BST_Nhien/Cam-Thảo.png" alt="Cam Thảo">
                    </a>
                </div>
                <div class="products-card__buy">
                    <h2>Giá: 179.000đ</h2>
                    <button class="buy-btn" type="button"><i class="ti-shopping-cart"></i></button>
                </div>
            </div>
            <div id="yeu-thuong" class="products-card">
                <div class="products-card__image">
                    <a href="/product/infoYeuThuong">
                        <img src="/assets/image/BST_Cham/Yêu-Thương.png" alt="Yêu Thương">
                    </a>
                </div>
                <div class="products-card__buy">
                    <h2>Giá: 189.000đ</h2>
                    <button class="buy-btn" type="button"><i class="ti-shopping-cart"></i></button>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal js-modal">
    <div id="message"></div>
    <div class="modal-container js-modal-container">
        <div class="close-button js-close-button">
            <i class="close-icon ti-close"></i>
        </div>

        <!-- Modal Heading -->
        <div class="modal-heading">
            <i class="ti-bag"></i>
            Mua sản phẩm
        </div>
        <!-- Modal body -->
        <div id="product-infomation" class="modal-body show-info">

        </div>

        <form id="modal-form" method="POST" action="/product/send" class="modal-body"
            onsubmit="return checkBeforeBuy(event)">
            <!-- Input Quatity -->
            <label for="modal-ip-quatity" class="modal-label">
                <i class="shoping-icon ti-shopping-cart"></i>
                Số lượng sản phẩm
            </label>
            <input type="number" class="modal-input" name="productQuantity" placeholder="Nhập số lượng..."
                id="modal-ip-quatity">

            <!-- Input name -->
            <label for="modal-ip-username" class="modal-label">
                <i class="user-icon ti-user"></i>
                Tên khách hàng
            </label>
            <input type="text" class="modal-input" name="name" placeholder="Nhập họ và tên..." id="modal-ip-username">

            <!-- Input phone -->
            <label for="modal-ip-userphone" class="modal-label">
                <i class="user-icon ti-mobile"></i>
                Số điện thoại
            </label>
            <input type="tel" class="modal-input" name="phone" placeholder="Nhập số điện thoại..."
                id="modal-ip-userphone">

            <!-- Input address -->
            <label for="modal-ip-address" class="modal-label">
                <i class="user-icon ti-location-pin"></i>
                Địa chỉ
            </label>
            <input type="text" class="modal-input" name="address" placeholder="Nhập địa chỉ..." id="modal-ip-address">

            <!-- Button corfirm -->
            <input type="submit" id="corfirm" value="ĐẶT HÀNG">
        </form>
    </div>
</div>

<div id="popup" class="popup">
    <div class="popup-container">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <a href="/product/nen-yen"><img src="/assets/image/POP-UP.png" alt="Nến Thơm Popup"></a>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById('popup').style.display = 'block';
    };

    function closePopup() {
        document.getElementById('popup').style.display = 'none';
    }
</script>