<nav id="navbar">
    <a class="first mark-current-page" href="#">Trang chủ</a>
    <div class="middle-group">
        <a href="/nen-yen">Nến thơm Yên</a>
        <a href="/nen-nhien">Nến thơm Nhiên</a>
        <a href="/nen-cham">Nến thơm Chạm</a>
    </div>
    <a class="last" href="/blog">Blog</a>
</nav>

<!-- Content -->
<section id="banner">
	<object class="banner__content" data="./assets/image/BannerHOME.svg" type="image/svg+xml" width="100%"
		height="auto"></object>
</section>

<!-- Video -->
<section id="video-container">
	<h1 class="text-center text-uppercase yeseva-one" style="color: #8e724b">Sản phẩm bán chạy</h1>
	<video width="600" height="auto" autoplay loop muted>
		<source src="./assets/videos/VideoSP.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</section>