<div id="show-product-info">
    <img src="/assets/image/BST_Cham/Yêu-Thương.png" alt="Nến nến Yêu Thương">
    <div class="product-info-content">
        <h1>Nến thơm Yêu Thương</h1>
        <p>
            <p><strong>Nguyên liệu tự nhiên:</strong> Nến được làm từ sáp hoa carnauba, tinh dầu dừa thiên nhiên.</p>
            <p><strong>Nến thơm Yêu Thương</strong> không chỉ là một sản phẩm trang trí mà còn là một phần của phong cách sống lành mạnh, hướng đến sự cân bằng giữa cuộc sống hiện đại và thiên nhiên.</p>
            <ul>
                <li>Sản phẩm nhấn mạnh đến hương thơm thiên nhiên, mang lại cảm giác thư giãn và thoải mái.</li>
                <li>Giảm căng thẳng, tăng cường hệ miễn dịch, hỗ trợ tinh thần tập trung và kháng khuẩn.</li>
                <li>Quy trình sản xuất thủ công để tạo nên sự khác biệt và giá trị cao.</li>
            </ul>
        </p>
    </div>
</div>
<div style="display: flex; justify-content:center">
    <button id="go-back-btn" onclick="goBack()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Quay lại trang sản phẩm</button>
</div>