<footer>
    <div id="line-footer"></div>
    <div id="footer">
        <div class="footer__left">
            <h3 class="text-uppercase yeseva-one">Giới thiệu chung về cửa hàng</h3>
            <p>Mộc ra đời từ tình yêu với những điều giản dị và tinh tế. 
                Chúng tôi muốn mang đến cho bạn một không gian thư giãn, nơi bạn có thể tìm thấy sự cân bằng giữa cuộc sống hiện đại và thiên nhiên. 
                Với những ngọn nến thơm tự nhiên, Mộc mong muốn đồng hành cùng bạn trên hành trình khám phá vẻ đẹp thuần khiết và tìm kiếm sự bình yên trong tâm hồn.</p>
        </div>
        <div class="footer__socials">
            <h3 class="text-uppercase yeseva-one">Thông tin liên hệ</h3>
            <div class="contact-info">
                <p>Địa chỉ: P. Linh Trung, Tp. Thủ Đức, Tp. Hồ Chí Minh</p>
                <p>Số điện thoại: <a href="tel:+84 0123456789">0123 456 789</a></p>
                <p>Email: <a href="mailto:info@nenthommoc.vn">info@nenthommoc.vn</a></p>
            </div>
            <div class="icon">
                <a href="https://web.facebook.com" class="facebook"><i class="ti-facebook"></i></a>
                <a href="https://google.com" class="google"><i class="ti-google"></i></a>
                <a href="https://twitter.com" class="twitter"><i class="ti-twitter"></i></a>
                <a href="https://linkedin.com" class="linkedin"><i class="ti-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div id="copyright">
        <p class="text-center"><span style="color: red">&#169</span> Bản quyền thuộc Cửa hàng Nến Mộc</p>
    </div>
</footer>