<header id="header">
    <div class="header__logo">
        <img src="/assets/image/LOGO 1.svg" alt="Logo Nến Mộc">
    </div>
    <div class="header__main">
        <div class="search-area">
            <input type="text" name="seacrh" id="search-bar" placeholder="Search...">
            <button type="button" id="search-btn"><i class="ti-search"></i></button>
        </div>
        <button type="button" id="order-now-btn" onclick="navigateToContact()">Đặt hàng ngay!</button>
    </div>
    <div class="header__account">
        <a href="#" class="text-center">
            <img src="/assets/image/icon/account-ico.png" alt="">
            <p class="yeseva-one">Account</p>
        </a>
    </div>
</header>

